
    <div id="homeHeader">
    <h2>A Comprehensive platform for reliable</h2>
    <h3>job opportunities and internships</h3>
    <h3>Get Discoverd.Get Hired</h3>
    <div id="job-seeker">
        <a href="/jobs">I'm A job Seeker</a>
        
        <a href="/reg">I'm Recutier</a>
    </div>
    

</div>
