<h1 class="mt-5 mb-4" style="margin-left: 3rem;">Login</h1>

<% if(errorMessage){ %>
    
    <div class="alert alert-danger" role="alert">

        <%= errorMessage %>

    </div>
<%}%>


<form action="/login" method="post" style="margin-left: 3rem;">

    <div class="mb-3">
        <label for="name" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" required>

    </div>


    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>



   <button type="submit" class="btn btn-primary">Login</button>

</form>